python-telegram-bot==22.5
requests==2.32.3
Pillow==10.4.0
aiohttp

# AI 相关
torch==2.10.1
torchvision==0.25.1

# 抠图（必须带 onnxruntime）
rembg[cpu]

# 超分
realesrgan

# onnx 推理引擎（rembg 真正依赖的东西）
onnxruntime
